{{! Copyright 2025 Jean-Baptiste Louvet-Daniel
   - 
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v\. 2\.0\. If a copy of the MPL was not distributed with this
   - file, You can obtain one at https://mozilla\.org/MPL/2\.0/\. }}

<div>
    <label for='rowCount'>{{localize
            'CSB.ComponentProperties.DynamicTable.AddMultipleRowsDialog.HowManyRows'
        }}</label><input id='rowCount' type='number' value='2' />
</div>